data/
checkpoints/
wandb/

__pycache__/

*.py[cod]
*$py.class

wheel/
wheels/

output/
hf/
<<<<<<<<< Temporary merge branch 1
.ipynb_*

debug/
debug*.py
result/

test.py

torun.sh

important_checkpoints/
*.egg-info